.top{
    background-color: rgba(213, 31, 92, 0.758);
    height: 40px;
}
#butt{
    float: right;
    height: 30px;
    width: 100px;
    background-color: rgb(233, 225, 5);
    color: black;
    font-family: sans-serif;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 5px;
    border-color: transparent;
}
.sosmed{
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 80px;
}
#logo{
    height: 200px;
    width: 240px;
    border-radius: 80px;
}
.nav{
    float: right;
    color: black;
    font-family: sans-serif;
    margin-top: 90px;
    margin-right: 50px;
    text-decoration: none;
}
.navD{
    margin: 20px;
}
.besar{
    margin-top: 20px;
height: auto;
width: 100%;
}
.pr{
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.des{
    height: 300px;
    width: 250px;
}
.dessert{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
float: left;
margin: 25px;   
}
.card{
    border-radius: 20px;
}
.det{
background-color:  rgba(213, 31, 92, 0.758);
border-radius: 5px;
border-color: transparent;
width: 60px;
}
.payment{
background-color: aqua;
width: 100%;
height: 110px;
}
.partner{
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color: gray;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


