#top{
    height: 90px;
    background-color: red;
}
#tokped{
    margin-top: 10px;
    width: auto;
    height: 70px;
}
#navkanan{
    float: right;
    
}
#jeta, #mj{
    height: 500px;
    width: 940px;
    align-items: center;
}
.card{
    margin: 20px;
    height: 300px;
    width: 200px;
}
.card-img-top{
    border-radius: 20px;
}
#bottom{
  height: 100px;
  background-color: rgba(170, 20, 20, 0.895);

}
#back{
  background-color: white;
  height: 500px;
}
#footer{
    background-color: gray;
    height: 50px;
}
#copyright{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
}